---
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import { render } from "astro:content";
import { getCollection } from "astro:content";
import assert from "node:assert";

export async function getStaticPaths() {
	const projects = await getCollection("projects");
	return projects.map((project) => ({
		params: { id: project.id },
		props: { project },
	}));
}

const { project } = Astro.props;

const { image } = project.data;
assert(image.width / image.height === 4 / 3, "Image must have an aspect ration of 4/3!");

const { Content } = await render(project);
---

<Layout
	title={`${project.data.titleShort} - Raimund`}
	description={project.data.description}
	ogimagePath={`/projects/${project.id}-ogimage.png`}
>
	<div slot="header" class="prose-sm md:prose">
		<a
			href="/projects"
			class="text-sm text-black/80 uppercase no-underline! hover:underline! md:text-base"
			>projects /</a
		>
		<h1 class="mt-1.5!">{project.data.title}</h1>
		<Image
			transition:name={`project-img-${project.id}`}
			src={project.data.image}
			alt={project.data.imageAlt}
		/>
		<Content />
		<footer class="mt-6 md:mt-10">
			<span class="block text-sm font-bold uppercase">Last updated</span>
			<time datetime={project.data.lastUpdate.toISOString()} class="block text-base"
				>{
					project.data.lastUpdate.toLocaleString("en-US", {
						year: "numeric",
						month: "long",
						day: "numeric",
						hour: "numeric",
						minute: "2-digit",
					})
				}</time
			>
		</footer>
	</div>
</Layout>

<style is:global>
	.prose-sm img {
		border-radius: var(--radius-lg);
	}

	.prose img {
		border-radius: var(--radius-xl);
	}

	.prose-sm {
		font-size: var(--text-base);
		line-height: var(--text-base--line-height);
	}

	.prose-sm h1 {
		--tw-font-weight: var(--font-weight-bold);
		font-weight: var(--font-weight-bold);
	}

	.prose-sm :is(h2, h3) {
		--tw-font-weight: var(--font-weight-medium);
		font-weight: var(--font-weight-medium);
	}
</style>
