---
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
	const projects = await getCollection("projects");
	return projects.map((project) => ({
		params: { slug: project.slug },
		props: { project },
	}));
}

const { project } = Astro.props;
const { Content } = await project.render();
---

<Layout title={`${project.data.titleShort} - Raimund`}>
	<div slot="header" class="prose-sm md:prose">
		<a href="/projects" class="uppercase text-black/80 text-sm md:text-base !no-underline hover:!underline">projects /</a>
		<h1 class="!mt-1.5">{project.data.title}</h1>
		<Image
			transition:name={`project-img-${project.slug}`}
			src={project.data.image}
			alt={project.data.imageAlt}
		/>
		<Content />
		<footer class="mt-6 md:mt-10">
			<span class="block text-sm font-bold uppercase">Last updated</span>
			<time datetime={project.data.lastUpdate.toISOString()} class="block text-base"
				>{
					project.data.lastUpdate.toLocaleString("en-US", {
						year: "numeric",
						month: "long",
						day: "numeric",
						hour: "numeric",
						minute: "2-digit",
					})
				}</time
			>
		</footer>
	</div>
</Layout>

<style is:global>
	.prose-sm img {
		@apply rounded-lg;
	}

	.prose img {
		@apply rounded-xl;
	}

	.prose-sm {
		@apply text-base;
	}

	.prose-sm h1 {
		@apply font-bold;
	}

	.prose-sm :is(h2, h3) {
		@apply font-medium;
	}
</style>
