---
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
	const projects = await getCollection("projects");
	return projects.map((project) => ({
		params: { slug: project.slug },
		props: { project },
	}));
}

const { project } = Astro.props;
const { Content } = await project.render();
---

<Layout title={`${project.data.titleShort} - Raimund`}>
	<div slot="header" class="prose">
		<h1 transition:name={`project-headline-${project.slug}`}>{project.data.title}</h1>
		<Image transition:name={`project-img-${project.slug}`} src={project.data.image} alt={project.data.imageAlt} />
		<Content />
		<footer>
			<span class="block text-sm font-bold uppercase">Last updated</span>
			<time datetime={project.data.lastUpdate.toISOString()} class="block text-base"
				>{
					project.data.lastUpdate.toLocaleString("en-US", {
						year: "numeric",
						month: "long",
						day: "numeric",
						hour: "numeric",
						minute: "2-digit",
					})
				}</time>
		</footer>
	</div>
</Layout>

<style is:global>
	.prose img {
		@apply rounded-xl;
	}
</style>
